# format options
--allman false
--indent 4
--header strip
--self insert
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapreturntype preserve
--wrapeffects preserve
--wrapconditions before-first
--funcattributes prev-line
--typeattributes prev-line
--computedvarattrs prev-line
--marktypes never
--redundanttype inferred
--maxwidth 130
--shortoptionals always
--organizationmode visibility
--patternlet inline

# file options
--swiftversion 5.10
--exclude BuildTools, Package.swift

# rules
--enable isEmpty
--disable genericExtensions, trailingSpace, blankLinesAroundMark, trailingCommas, preferForLoop, andOperator, wrapMultilineStatementBraces